<h1 align = center> Cleaning Car Dataset </h1>

In this file, The car data set is provided by a University of California.

The Data Source: https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

Data Type: CSV

In [1]:
# IMPORT STANDARD LIBRARIES
import pandas as pd
import numpy as np

<p>The CSV file is hosted on IBM Cloud Object</p>

In [2]:
# SAVE THE FILE PATH
other_path = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"

# READ THE CSV FILE, CONVERT TO A DATAFRAME
df = pd.read_csv(other_path, header=None)

#SHOW THE FIRST 5 ROWS OF THE DATAFRAME
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

As noticed, the columns are not labeled. Information on the header is available at: https://archive.ics.uci.edu/ml/datasets/Automobile

In [3]:
# CREATE A HEADER LIST
headers = ["symboling",
           "normalized-losses",
           "make",
           "fuel-type",
           "aspiration", 
           "num-of-doors",
           "body-style",
           "drive-wheels",
           "engine-location",
           "wheel-base", 
           "length","width",
           "height",
           "curb-weight",
           "engine-type",
           "num-of-cylinders", 
           "engine-size",
           "fuel-system",
           "bore","stroke",
           "compression-ratio",
           "horsepower",
           "peak-rpm",
           "city-mpg",
           "highway-mpg",
           "price"]

# SET THE HEADER LIST TO THE COLUMNS IN DATAFRAME
df.columns = headers

#SHOW THE FIRST 5 ROWS OF THE DATAFRAME
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

<p>
An overview of the data store in each column

</p>

In [4]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

<h2> Identify and handle missing values </h2>

<p>There are missing values denoted as <b>?</b>. These need to be replaced with NaN (Not A Number).</p>

In [5]:
# REPLACE "?" TO NaN
# INPLACE: SAVES CHANGES TO THE DATAFRAME
df.replace("?", np.nan, inplace = True)

# CREATES A DATAFRAME WITH VALUES TRUE/FALSE
# CELL WILL CONTAIN TRUE IF CELL VALUE IS NaN
missing_data = df.isnull()

#SHOW THE FIRST 5 ROWS OF THE DATAFRAME
missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

<p>
To determine which column is missing data, the algorithm below will find the column with missing values.

</p>

In [6]:
# PRINT THE HEADER OF THE RESULTS
print("Column Name: Missing Data")

# ITERATES THROUGH EACH COLUMN
for column in missing_data.columns.values.tolist():
    # GETS THE VALUES OF EACH COLUMN : (TRUE/FALSE) AND CONVERTS TO A SERIES
    # THEN, ITERATE THROUGH EACH INDEX (ONLY TWO)
    for x in missing_data[column].value_counts().axes[0]:
        # CHECKS IF THE INDEX IS TRUE (DENOTING THE MISSING DATA)
        if(x == True):
            print(" *{}: {}".format(column,
                                  missing_data[column].value_counts()[1]))

Column Name: Missing Data
 *normalized-losses: 41
 *num-of-doors: 2
 *bore: 4
 *stroke: 4
 *horsepower: 2
 *peak-rpm: 2
 *price: 4

<p>
There are seven columns that have missing values. these are the methods that will be used to determine what do with each column.
</p>

<b>Replace by mean:</b>
<ul>
    <li>"normalized-losses": 41 missing data, replace them with mean</li>
    <li>"stroke": 4 missing data, replace them with mean</li>
    <li>"bore": 4 missing data, replace them with mean</li>
    <li>"horsepower": 2 missing data, replace them with mean</li>
    <li>"peak-rpm": 2 missing data, replace them with mean</li>
</ul>

In [7]:
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

avg_stroke = df['stroke'].astype('float').mean(axis=0)
df['stroke'].replace(np.nan, avg_stroke, inplace=True)

avg_bore = df['bore'].astype('float').mean(axis=0)
df["bore"].replace(np.nan, avg_bore, inplace=True)

avg_horsepower = df['horsepower'].astype('float').mean(axis=0)
df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)

avg_peakrpm = df['peak-rpm'].astype('float').mean(axis=0)
df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)

<b>Replace by frequency:</b>
<ul>
    <li>"num-of-doors": 2 missing data, replace them with "four". 
        <ul>
            <li>Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to occur</li>
        </ul>
    </li>
</ul>

In [8]:
num_doors = df['num-of-doors'].value_counts().idxmax()
df["num-of-doors"].replace(np.nan, num_doors, inplace=True)

<b>Drop the whole row:</b>
<ul>
    <li>"price": 4 missing data, simply delete the whole row
        <ul>
            <li>Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore any row now without price data is not useful to us</li>
        </ul>
    </li>
</ul>

In [9]:
df.dropna(subset=["price"], axis=0, inplace=True)

df.reset_index(drop=True, inplace=True)

<p>
Let's see how the dataframe looks now.
</p>

In [10]:
#SHOW THE FIRST 5 ROWS OF THE DATAFRAME
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

<h2>Correct Data Format </h2>

Some of the columns are not of the correct data type. As seen when filling in the data above.

In [11]:
# CHANGE THE DATA TYPE OF EACH COLUMN TO THE APPROPIATE DATA TYPE
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

df["horsepower"]=df["horsepower"].astype(int, copy=True)

In [12]:
df.dtypes

symboling              int64
normalized-losses      int32
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower             int32
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

<h2>Dummy Variables</h2>

<p>
Indicator dummies are needed for data analysis.
</p>

In [13]:
# CREATE A DATAFRAME WITH THE DUMMY VARIABLES FOR "fuel-type"
fuel_dummies = pd.get_dummies(df["fuel-type"])

# CHANGE THE COLUMN NAME OF EACH DUMMY VARIABLE
fuel_dummies.rename(columns={'fuel-type-diesel':'gas',
                             'fuel-type-diesel':'diesel'},
                              inplace=True)

# MERGE "df" WITH "fuel_dummies"
df = pd.concat([df, fuel_dummies], axis=1)

# DROP ORIGINAL COLUMN "fuel-type" FROM "df"
df.drop("fuel-type", axis = 1, inplace=True)

In [14]:
# CREATE A DATAFRAME WITH DUMMY VARIABLES FOR "aspirations"
asp_dummies = pd.get_dummies(df['aspiration'])


# CHANGE THE COLUMN NAME OF EACH DUMMY VARIABLE
asp_dummies.rename(columns={'std':'aspiration-std',
                            'turbo': 'aspiration-turbo'},
                            inplace=True)

# MERGE "df" WITH "asp_dummies"
df = pd.concat([df, asp_dummies], axis=1)

# DROP ORIGINAL COLUMN "aspiration" FROM "df"
df.drop('aspiration', axis = 1, inplace=True)

<p>After cleaning the data, this is the result.</p>

In [15]:
#SHOW THE FIRST 10 ROWS OF THE DATAFRAME
df.head(10)

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,diesel,gas,aspiration-std,aspiration-turbo
0,3,122,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,9.0,111,5000.0,21,27,13495.0,0,1,1,0
1,3,122,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,9.0,111,5000.0,21,27,16500.0,0,1,1,0
2,1,122,alfa-romero,two,hatchback,rwd,front,94.5,171.2,65.5,...,9.0,154,5000.0,19,26,16500.0,0,1,1,0
3,2,164,audi,four,sedan,fwd,front,99.8,176.6,66.2,...,10.0,102,5500.0,24,30,13950.0,0,1,1,0
4,2,164,audi,four,sedan,4wd,front,99.4,176.6,66.4,...,8.0,115,5500.0,18,22,17450.0,0,1,1,0
5,2,122,audi,two,sedan,fwd,front,99.8,177.3,66.3,...,8.5,110,5500.0,19,25,15250.0,0,1,1,0
6,1,158,audi,four,sedan,fwd,front,105.8,192.7,71.4,...,8.5,110,5500.0,19,25,17710.0,0,1,1,0
7,1,122,audi,four,wagon,fwd,front,105.8,192.7,71.4,...,8.5,110,5500.0,19,25,18920.0,0,1,1,0
8,1,158,audi,four,sedan,fwd,front,105.8,192.7,71.4,...,8.3,140,5500.0,17,20,23875.0,0,1,0,1
9,2,192,bmw,two,sedan,rwd,front,101.2,176.8,64.8,...,8.8,101,5800.0,23,29,16430.0,0,1,1,0

<p>Cleaning Data is done. Save Dataframe.</p>

In [16]:
df.to_csv('clean_df.csv')